.admonition {
    padding: 15px;
    margin-bottom: 21px;
    border-left: 10px solid transparent;

    .title {
    margin: 0;
    text-transform: uppercase;
    padding-left: 3px;
    border: 1px solid;
    border-style: hidden hidden solid;
    }


.note {
    border-color: olive;
    background-color: #f6fffe;
}

.note .title {
    color: olive;
    border-color: olive;
}

input,
select,
textarea {
  background: white;
  border: white;
  outline: 0;
  margin: 0.25em 0;
  padding: 0 1em;
  width: 100%;
  transition: border-color $hover;
  &:hover {
    border-color: $accent-color;
  }
  &:focus,
  &:active {
    border: 1px solid $accent-color;
  }
}

input,
select {
  height: 2.75em;
}
}