{{ define "main" }}
<article class='post'>
  <header>
    <div class="title">
      <h1><a href="{{ .RelPermalink }}">{{ .Title }}</a></h1>
      {{ with .Description }}<p>{{ . }}</p>{{ end }}
    </div>
  </header>
  <div id="content" class ="content">
    {{ .Content }}
    {{ range .Data.Terms.ByCount }}
    <h2> <a href="{{ .Page.Permalink }}">{{ .Page.Title }}<span style="float:right;">{{ .Count }}</span></a> </h2>
    <ul>
      {{ range .Pages.ByDate.Reverse }}
        <li>
            <a href="{{ .Permalink }}">{{ .Title }}</a>
        </li>
    {{ end }}
      </ul>
    {{ end }}
  {{ $.Scratch.Set "showCategories" false }}
  <hr>

Everything on this is site is free. German is hard enough without having to pay to learn it. But if you do want to throw money at me for some reason, I wouldn't say no to a coffee. Thanks for visiting! 

<center>
<br>


<a href="https://www.buymeacoffee.com/monoglotanxiety" target="_blank"><img src="https://cdn.buymeacoffee.com/buttons/v2/default-yellow.png" alt="Buy Me A Coffee" style="height: 60px !important;width: 217px !important;" ></a>

</center>
</div>
</article>
{{ end }}
