 Learning German is hard. My goal is to help you do it without wanting to pull your hair out.
 This blog is full of free tips and resources for German learners that I've put together based 
 on my experience teaching myself German. A lot of those tips are related to using Anki to learn
 German faster, and post new free Anki decks every month.
 <b><a href='/about/'>Click to learn more</a></b>.

<br><br>

Everything I make is free! But if you find this silly little blog useful, I wouldn't say no 
to a coffee or two. Vielen Dank!