<script src="js/vex.combined.min.js"></script>
<link rel="stylesheet" href="css/vex.css" />
<link rel="stylesheet" href="css/vex-theme-wireframe.css" />

<script>
  vex.defaultOptions.className = 'vex-theme-wireframe';
  vex.dialog.open({
      message: "Don't miss a new Anki deck or language-learning trick!",
      input: [
          '<input name="email" type="email" placeholder="janedoe@domain.com" required />',
          '<input name="tag" type="hidden"/>',
          '<p><small>You can unsubscribe at any time.</small></p>'
      ].join(''),
      buttons: [
          $.extend({}, vex.dialog.buttons.YES, { text: "Yes, I'm in!" }),
          $.extend({}, vex.dialog.buttons.NO, { text: 'No thanks' })
      ],
      callback: function (data) {
          if (!data) {
          } else {
              var email_value = data.email;
              var tag_value = 'main';

              var form = document.createElement('form');
              form.setAttribute('method', 'post');
              form.setAttribute('action', "https://buttondown.email/api/emails/embed-subscribe/monoglotanxiety");

              var input = document.createElement('input');
              input.setAttribute('type', 'email');
              input.setAttribute('name', 'email');
              input.value = email_value;
              form.appendChild(input);

              var tag = document.createElement('tag');
              tag.setAttribute('type', 'hidden');
              tag.setAttribute('name', 'tag');
              tag.value = tag_value;
              form.appendChild(tag);
              form.submit();
          }
      }
  })
</script>


<form
  action="https://buttondown.email/api/emails/embed-subscribe/monoglotanxiety"
  method="post"
  target="popupwindow"
  onsubmit="window.open('https://buttondown.email/monoglotanxiety', 'popupwindow')"
  class="embeddable-buttondown-form"
>
  <label for="bd-email">Enter your email</label>
  <input type="email" name="email" id="bd-email" />
  <input type="hidden" value="1" name="embed" />
  <input type="submit" value="Subscribe" />
  <p>
    <a href="https://buttondown.email" target="_blank">Powered by Buttondown.</a>
  </p>
</form>
