<script>
vex.defaultOptions.className = 'vex-theme-default'
cookiename = 'visited-'.concat({{.File.UniqueID}})
if (document.cookie.indexOf(cookiename) >= 0) {
} else {
    document.cookie = cookiename;
    vex.defaultOptions.className = 'vex-theme-default';     // specifies the css theme
    vex.open({
      unsafeContent: ["<div>", "<h3 style='text-transform:none'>Immerse yourself in great German media</h3>",
          '<p>Discover new reccomendations for great German music, movies, and more each week. You&#39;ll\
           also get exclusive German-learning tips and resources at the end of each month. 100% free!</p>',
      '<form target="popupwindow" action="https://buttondown.email/api/emails/embed-subscribe/monoglotanxiety"\
        method="post" onsubmit="', "window.open('https://buttondown.email/monoglotanxiety', 'popupwindow')",'">',
        '<label for="bd-email">Enter your email</label>\
        <input type="email" name="email" id="bd-email" />\
        <input type="hidden" value="1" name="embed" />\
        <input type="submit" value="I&#39;m in!" />\
        <input type="hidden" name="tag" value="anki" />\
      </form>', '<p style="line-height: 1"><small>Submitting this form adds you to the Monoglot Anxiety mailing list.\
         Check out the privacy policy for more on how Monoglot Anxiety handles your data.</p></div>'].join(''),
         callback: function() {
             $(".vex").hide(); // This will hide the whole vex component
             window.location = "./";
         }
    });
}
</script>
